body{
    background-color: aqua;
}
h1{
    background-color: white;
    text-align: center;
}
.contenedor{
    background-color: white;
}

header{
    text-align: center;
}

nav{
    text-align: center;
}