body{
    background-color: rgb(180, 157, 46);
}
h1{
    background-color: white;
    text-align: center;
}
.contenedor{
    background-color: white;
}

header{
    text-align: center;
    justify-content: space-evenly;
}